@model DockerProject.Models.Project

@{
    ViewBag.Title = "Projects";
    Layout = "_Layout";
}
<div class="body">
    <div class="title">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="container">
        <div class="row justify-content-evenly">
            @foreach (Project project in ViewBag.Projects)
            {
                <div class="card col-5 p-2">
                    <div class="row justify-content-evenly align-items-center">
                        
                        <div class="col-3">
                            <div class="row-cols-2">
                                @project.Title
                            </div>
                            <div class="row-cols-2">
                                <i class="bi bi-star"></i> @project.StarredBy.Count()
                            </div>
                        </div>

                        <div class="col-6">
                            @project.Description
                        </div>

                        <div class="col-3 gap-3">
                            <div class="row-cols-1 m-2" >
                                <a href="/Projects/Edit/@project.Id" class="btn btn-outline-warning">Edit</a>
                            </div>
                            <div class="row-cols-1 m-2">
                                <a href="/Projects/Show/@project.Id" class="btn btn-outline-success">Show</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            }
        </div>
    </div>
</div>
